<tr>
                                <td>{{quiz_name}}</td>
                                <td>{{rawgrade}}/{{rawgrademax}}</td>
                                <td><div class='progress'>
                                <div class='progress-bar progress-bar-success' role='progressbar' style='width:{{mygrade}}%'>
                                            {{mygrade}}%                    
                                </div>
                                <div class='progress-bar progress-bar-danger' role='progressbar' style='width:{{loss}}%'>
                                         {{loss}}%                       
                                </div>
                              </div>
                                </td>
                              </tr>